################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Arithmetic/.vs/Arithmetic/v15
/Arithmetic/Arithmetic/obj
/Arithmetic/Arithmetic/bin
/Arithmetic/ArithmeticTests/bin
/Arithmetic/ArithmeticTests/obj
/Arithmetic/WindowsFormApp2/bin
/Arithmetic/WindowsFormApp2/obj
